.logo {
  animation: logo-spin infinite 3s linear;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar-menu {
}

.nav-xs-menu {
  display: none !important;
}

@media only screen and (max-width: 750px) {
  .nav-bar-menu {
    display: none !important;
  }
  .nav-xs-menu {
    display: block !important;
  }
}
